/*menu*/

.navbar-default { border: none ;}

.navbar-nav>li {
	margin-left: 15px;
	font-size: 0.8em;
}

.navbar-nav>li>a {
	color: orange !important;
}

.navbar-nav>li>a.active {
	border-bottom: solid 4px orange;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: -5px;}

.navbar-brand {
	margin-right: 25px;
}



.alternate1 {
	background-color:#337ab7;
}

.signup-form {
  margin: 0 auto;
}

.signup-form h2 {
  color: #333;
}

.bodytext_styled {
	padding: 0 12% 0 12%; 
}

.hero-logo {
  width: 40%;
  height: auto;
  opacity: 0.9;
}

.small-logo {
  height: 40px;
}

.bodybox_grey {
	background-color:white;
	color:#333333;
}

.selfgov {
    background: url(../img/lincoln-memorial.jpg) no-repeat center center scroll;
}

.leftlist {
	text-align: left;
}

.disrupt-navbar {
  background-color:#333;
  color:white;
}

.disrupt-link {
  color: white !important;
}

.navbar-brand {
	float: left;
	  /* height: 50px; */
	  padding: 5px 0px;
	  /* font-size: 18px; */
	  /* line-height: 20px;
}