.alternate1 {
	background-color:#337ab7;
}

.signup-form {
  margin: 0 auto;
}

.signup-form h2 {
  color: #333;
}

.bodytext_styled {
	padding: 0 12% 0 12%; 
}

.hero-logo {
  width: 40%;
  height: auto;
  opacity: 0.8;
}

.bodybox_grey {
	background-color:white;
	color:#333333;
}

